<div class="col-md-12 no-lr-pad">

  <div class="pz-card-outer col-md-6">
    <aside class="pz-card-wrapper">
      <div class="pz-card-inner pz-emp-slot">
        <input type="search"
               class="pz-ft-search form-control"
               ngoModel="performFullTextSearch"
               (keyup)="performFullTextSearch($event)"
               id="pz-ft-search"
               placeholder="Volltextsuche" />
        <span class="fa fa-search pz-search-icon"></span>
      </div>
    </aside>
  </div>
  <div class="pz-card-outer col-md-6">
    <div class="col-md-12 no-lr-pad">
      <div class="col-md-7 no-lr-pad">
        <aside class="pz-person-tag-wrapper">
          <span class="pz-person-tag">Ich</span>
          <span class="pz-person-tag">DU</span>
          <span class="pz-person-tag">Alle</span>
        </aside>
      </div>
      <div class="col-md-5 no-lr-pad">
        <aside class="pz-extra-trigger-wrapper">
          <div class="fa fa-th-large pull-right"></div>
          <div class="pull-right pz-divider">&nbsp;&nbsp;|&nbsp;</div>
          <div class="fa fa-align-justify pull-right"></div>
        </aside>
      </div>
    </div>
  </div>

</div>
